@using BaSyx.Utils.Settings.Types;
@{
    string pathBase = string.Empty;
    if (ViewData.ContainsKey("PathBase"))
    {
        pathBase = (string)ViewData["PathBase"];
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="@pathBase/favicon.png" />
    <link rel="stylesheet" href="@pathBase/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@pathBase/lib/bootstrap/dist/css/bootstrap4-toggle.min.css" />
    <link rel="stylesheet" href="@pathBase/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="@pathBase/css/site.css" />
</head>
<body>
    <header id="basyx_ui_header">
        <nav id="basyx_ui_navbar" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="@pathBase/images/basyxlogo.png" width="200" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.eclipse.org/legal/epl-2.0/">License</a>
                    </li>
                    @if (ViewData.TryGetValue<string>("ApiRoot", out string apiRoot))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@pathBase@apiRoot">REST-API</a>
                        </li>
                    }
                    @if (ViewData.TryGetValue<List<Link>>("Links", out List<Link> links) && links?.Count > 0)
                    {
                        foreach (var link in links)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@link.Url">@link.Name</a>
                            </li>
                        }
                    }
                </ul>
                @if(ViewData.TryGetValue<string>("CompanyLogo", out string clPath) && !string.IsNullOrEmpty(clPath))
                {
                    <div class="order-sm-last">
                        <img src="@clPath" style="max-height:40px" />
                    </div>
                }
                @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                *@
            </div>
        </nav>
    </header>

    <div id="basyx_ui_main_container" class="container">
        @RenderBody()
    </div>

    <footer id="basyx_ui_footer" class="border-top footer text-muted">
        <div class="container">
            &copy; Robert Bosch GmbH 2021 <a href="https://www.eclipse.org/legal/epl-2.0/">License EPL-2.0</a>
        </div>
    </footer>

    <script src="@pathBase/lib/jquery/dist/jquery.min.js"></script>
    <script src="@pathBase/lib/bootstrap/dist/js/bootstrap4-toggle.min.js"></script>
    <script src="@pathBase/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@pathBase/js/basyx.js"></script>

    @if (ViewData.TryGetValue<bool>("BlazorSupportEnabled", out bool bsa) && bsa)
    {
        <script src="@pathBase/_framework/blazor.server.js"></script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
